<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="https://play.google.com/store/apps/details?id=com.icetea09.bucketlist" class="portfolio-box" target="_blank">
                    <img src="img/portfolio/buckist.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Android
                            </div>
                            <div class="project-name">
                                Buckist
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://play.google.com/store/apps/details?id=ice.tea.mbtipersonalitytest&hl=en" target="_blank" class="portfolio-box">
                    <img src="img/portfolio/mbti.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Android
                            </div>
                            <div class="project-name">
                                Personality Test 2017
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://play.google.com/store/apps/details?id=ice.tea.harrypottercharactersquiz&hl=en" class="portfolio-box" target="_blank">
                    <img src="img/portfolio/hp.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Android
                            </div>
                            <div class="project-name">
                                Wizarding School Quiz
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
