<section id="one" class="tiles">

  <header class="major">
    <h2>Portfolio</h2>
  </header>

  <article>
    <span class="image">
      <img src="img/portfolio/buckist.png" alt="" />
    </span>
    <header class="major">
      <h3><a href="https://play.google.com/store/apps/details?id=com.icetea09.bucketlist" class="link">Buckist</a></h3>
      <p>Android</p>
    </header>
  </article>

  <article>
    <span class="image">
      <img src="img/portfolio/mbti.png" alt="" />
    </span>
    <header class="major">
      <h3><a href="https://play.google.com/store/apps/details?id=ice.tea.mbtipersonalitytest" class="link">Personality Test</a></h3>
      <p>Android</p>
    </header>
  </article>

  <article>
    <span class="image">
      <img src="img/portfolio/hp.png" alt="" />
    </span>
    <header class="major">
      <h3><a href="https://play.google.com/store/apps/details?id=ice.tea.harrypottercharactersquiz" class="link">Wizarding School Quiz</a></h3>
      <p>Android</p>
      </header>
  </article>

</section>
