#main > * > .inner {
    max-width: 50em;
}

/*.image.main img {
    width: 170%;
    margin-left: -35%;
}*/

header.major {
    width: 100%;
    max-width: 50em;
    margin: auto;
    margin-top: 56px;
   	padding-left: 24px;
   	padding-right: 24px;
}